.finish-par-div{
    text-align: center;
    align-items: center;
    padding-top: 50px;
    align-content: center;
}
.finish-par-div h1{
    color: hsl(213, 96%, 18%);
    padding-top: 20px;
}
.finish-par-div p{
    padding-top: 20px;
    font-size: 15px;
    opacity: 0.6;
    font-weight: bold;
}
.mark{
 width: 17%;
}